body {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: small;
}

#meta {
    text-align: right;
    float: right;
}

#system-info {
    color: #666666;
}

.tree {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative
}

.tree li::before, .tree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto
}

.tree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px
}

.tree li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 23px;
    width: 25px
}

.tree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none
}

.tree li.node > div {
    cursor: pointer
}

.tree > ul > li::before, .tree > ul > li::after {
    border: 0
}

.tree li:last-child::before {
    height: 23px
}

.tree > ul ul {
    margin-left: 30px
}

.tree .pass-rate {
    position: absolute;
    background-color: aquamarine;
}

.test-fixture .passed {
    background-color: #44aa44;
}

.test-fixture .passed:hover {
    background-color: #40a040;
}

.test-fixture .failed {
    background-color: #ff5555;
}

.test-fixture .failed:hover {
    background-color: #f05050;
}

.test-fixture .skipped {
    background-color: #ffaa00;
}

.test-fixture .skipped:hover {
    background-color: #f0a000;
}

.test-fixture .logs .log-level {
    font-weight: bold;
    text-transform: uppercase;
    color: #777;
}

.test-fixture .logs .debug {
    color: #749A06;
}

.test-fixture .logs .info {
    color: #00A3E8;
}

.test-fixture .logs .warning {
    color: #ECBA04;
}

.test-fixture .logs .error {
    color: #FF0000
}

.test-fixture .logs .critical {
    color: #CE2400;
}

.test-fixture .screenshot {
    width: 200px;
    border: 0;
}